#firstName_secondName
{
    margin-top: 150px;
    text-align: center;
    color: #f2ecdb;
    font-size: 65px;
}

#backend-developer
{
    text-align: center;
    color: #f2ecdb;
    margin-top: 50px;
    font-size: 30px;
}